/********* FONTS *********/
@font-face {
  font-family: ClanOT-NarrowBold;
  src: url("../fonts/ClanOT-NarrowBold.otf");
  font-display: swap;
}
@font-face {
  font-family: ClanOT-NarrowNews;
  src: url("../fonts/ClanOT-NarrowNews.otf");
  font-display: swap;
}
@font-face {
  font-family: ClanOT-NarrowThin;
  src: url("../fonts/ClanOT-NarrowThin.otf");
  font-display: swap;
}
@font-face {
  font-family: ClanOT-NarrowMedium;
  src: url("../fonts/ClanOT-NarrowMedium.otf");
  font-display: swap;
}