/********* VARIABLES *********/
$white: #ffffff;
$black: #000000;
$red: #8C0321;
$yellow:#FFB92E;
$grey:#6D5F7D;
$theme--violet: #2F1A45;
$theme--green--dark:#243230;
$theme--white:#FFFEF2;
$theme--light--violet:#443158;
$brdr-color:#4d3a60;
$tab-btn-color:#948a9f;
$card-bg:#F4EAF7;
$card-red:#C6002F;
$news-red:#F26522;
$news-brdr:#C0B8BE;
$font-bold:"ClanOT-NarrowBold", sans-serif;
$font-regular:"ClanOT-NarrowNews", sans-serif;
$font-thin:"ClanOT-NarrowThin", sans-serif;
$font-medium:"ClanOT-NarrowMedium", sans-serif;
